In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

In [3]:
df = pd.read_csv('./data/dev.csv')

In [4]:
df = df.drop( [ '법정동코드','자치구코드' ,'지번구분' ,'권리구분','취소일'] , axis=1)

In [5]:
df

,접수연도,자치구명,법정동명,지번구분명,본번,부번,건물명,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2023,강서구,마곡동,대지,776.0,2.0,마곡센트럴대방디엠시티오피스텔,20231121,21500,29.48,42.34,3.0,2017.0,오피스텔,직거래,NaN
1,2023,동대문구,이문동,대지,327.0,7.0,세진빌딩,20231121,19000,11.48,0.00,12.0,2020.0,아파트,중개거래,서울 동대문구
2,2023,구로구,구로동,대지,98.0,10.0,비즈트위트그린,20231121,11250,14.86,0.00,16.0,2012.0,아파트,중개거래,서울 동작구
3,2023,송파구,오금동,대지,39.0,5.0,에일린하우스,20231121,58000,54.67,28.47,6.0,2016.0,연립다세대,직거래,NaN
4,2023,마포구,상암동,대지,1597.0,0.0,사보이시티디엠씨,20231121,15500,21.65,29.78,14.0,2016.0,오피스텔,중개거래,서울 은평구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62735,2023,강서구,공항동,대지,61.0,89.0,남성아트빌,20210125,36800,29.47,19.00,6.0,2015.0,연립다세대,NaN,NaN
62736,2023,은평구,신사동,대지,370.0,0.0,은평신사두산위브,20200608,73500,84.96,0.00,9.0,2006.0,아파트,NaN,NaN
62737,2023,마포구,성산동,대지,593.0,5.0,상암미르웰한올림,20181030,15500,16.36,22.99,13.0,2018.0,오피스텔,NaN,NaN
62738,2023,양천구,신월동,NaN,NaN,NaN,NaN,20161125,17800,70.09,86.00,NaN,1981.0,단독다가구,NaN,NaN
62739,2023,노원구,중계동,대지,511.0,2.0,목화(4단지),20090219,8000,32.76,0.00,2.0,1991.0,아파트,NaN,NaN

In [6]:
df['계약일'].astype(str)

0        20231121
1        20231121
2        20231121
3        20231121
4        20231121
           ...
62735    20210125
62736    20200608
62737    20181030
62738    20161125
62739    20090219
Name: 계약일, Length: 62740, dtype: object

In [7]:
df['게약일'].astype(int)

KeyError: '게약일'

In [ ]:
df['접수연도']

In [ ]:
df['본번'].astype(str)

In [ ]:
df['본번'].fillna(-1)

In [ ]:
df['건축년도']

In [ ]:
df['건물용도'].unique()

In [ ]:
pd.to_datetime(df['계약일'])

In [ ]:
pd.to_datetime(df['계약일'].astype(str))

In [ ]:
pd.to_datetime(df['계약일'] , format='%Y%m%d')

In [ ]:
df

In [ ]:
df.loc[ df['건물용도'] =='오피스텔' , ].set_index('건물용도')

In [ ]:
df.loc[ df['건물용도'] =='아파트' , ].set_index('건물용도')

In [ ]:
df.loc[ df['건물용도'] =='연립다세대' , ].reset_index()

In [ ]:
df.loc[ df['건물용도'] =='단독다가구' , ].reset_index()

In [ ]:
df['건물용도']

In [ ]:
df['자치구명']

In [ ]:
df_op = df.loc[ df['건물용도'] =='오피스텔' ,]

In [ ]:
df_op

In [ ]:
df_op['자치구명'].value_counts().index

In [ ]:
df_op['자치구명']

In [ ]:
ordef_op = df['자치구명'].value_counts().index

In [ ]:
color_op = sb.color_palette()[2]

In [ ]:
ordef_color =

In [ ]:
sb.countplot(data = df , y = df['자치구명'] , color= color_op , order= ordef_op )
plt.title('자치구별 거래 건 수')
plt.xlabel('거래 건 수( 단위 : 회 )')
plt.show()

In [ ]:
df_op = df.loc[ df['건물용도'] =='오피스텔' ,].set_index('건물용도')

In [ ]:
df_op

In [ ]:
op_order = df_op['자치구명'].value_counts().index

In [ ]:
op_color = sb.color_palette()[2]

In [ ]:
df_op = df.loc[ df['건물용도'] =='오피스텔' ,].set_index('건물용도')
op_order = df_op['자치구명'].value_counts().index
op_color = sb.color_palette()[2]
sb.countplot( data = df_op , y = df_op['자치구명'] , color=op_color ,order=op_order )

In [ ]:
df_op_pie = df_op['자치구명'].value_counts().head()

In [ ]:
df_op_pie = df_op['자치구명'].value_counts().head()
plt.pie(df_op_pie ,labels= df_op_pie.index, autopct='%.2f' , wedgeprops={'width' : 0.8} )

In [ ]:
df_op.groupby('자치구명')['물건금액(만원)'].max()

In [ ]:
df_op

In [ ]:
plt.hist(data =df_op_2023 , x ='계약일' , rwidth= 0.8 , bins=10 )

In [ ]:
df_total = df.groupby('건물용도')['물건금액(만원)'].max()

In [ ]:
df_total = df.groupby('건물용도')['물건금액(만원)'].max()
plt.pie(df_total, labels=df_total.index, autopct='%.2f' , startangle= 90 ,wedgeprops={'width' : 0.7} )

In [ ]:
df

In [ ]:
df2 = df['자치구명'].value_counts().head()

In [ ]:
plt.pie(df2 , labels=df2.index, autopct='%.2f',wedgeprops={'width':0.7})

In [ ]:
df['계약일'].value_counts().sort_index()

In [ ]:
df_newdate = df.loc[ df['계약일']>=20221100 , ]

In [ ]:
df_newdate['계약일'].value_counts().sort_index()

In [ ]:
import numpy as np

In [ ]:
df.groupby([ '건물용도'])['물건금액(만원)'].max()

In [ ]:
df

In [ ]:
df_count = df['건물용도'].value_counts().to_frame()
df_count = df_count.rename(columns={ 'count' : '건 수'})

In [ ]:
df_max_price = df.groupby('건물용도')['물건금액(만원)'].agg([np.max , np.min])
df_max_price = df_max_price.rename(columns={'max' : '최고가(만원)' , 'min' : '최저가(만원)'})

In [ ]:
pd.concat([df_count,df_max_price],axis = 1)

In [ ]:
df_data_set = df.loc[ df['계약일'] >= 20230101 , ].set_index('계약일').sort_index()

In [ ]:
df_data_set.index.nunique()

In [ ]:
df_data_set = df.loc[ df['계약일'] >= 20230101 , ]

In [ ]:
df_data_set['계약일']

In [ ]:
((df_data_set['계약일']>=20230101) & (df_data_set['계약일']<=20230201)).sum()

In [ ]:
((df['계약일']>=20231101) & (df['계약일']<=20231131)).sum()

In [ ]:
(df['계약일'] == 20230201).sum()

In [ ]:
df2 = pd.read_csv('./data/dev2.csv')

In [ ]:
df2

In [ ]:
df2

In [ ]:
df2 = df2.set_index('거래일자')

In [ ]:
df2.plot()

In [ ]:
plt.plot(df2['거래일자'],df2['거래량'])
plt.xticks(rotation=45)

In [ ]:
import plotly.express as px

In [ ]:
px.line(df2,x='거래일자',y='거래량',title='2023년 서울시 부동산 실거래 변동(월별)')

In [ ]:
px.pie(data_frame=df['건물용도'].value_counts(),name=df['건물용도'].value_counts().index)

In [25]:
df['건물용도'].value_counts()

건물용도
아파트      32926
연립다세대    19925
오피스텔      7492
단독다가구     2397
Name: count, dtype: int64

In [28]:
df3 =df.loc[df['건물명'].notna() , ]

In [29]:
df3

,접수연도,자치구명,법정동명,지번구분명,본번,부번,건물명,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2023,강서구,마곡동,대지,776.0,2.0,마곡센트럴대방디엠시티오피스텔,20231121,21500,29.48,42.34,3.0,2017.0,오피스텔,직거래,NaN
1,2023,동대문구,이문동,대지,327.0,7.0,세진빌딩,20231121,19000,11.48,0.00,12.0,2020.0,아파트,중개거래,서울 동대문구
2,2023,구로구,구로동,대지,98.0,10.0,비즈트위트그린,20231121,11250,14.86,0.00,16.0,2012.0,아파트,중개거래,서울 동작구
3,2023,송파구,오금동,대지,39.0,5.0,에일린하우스,20231121,58000,54.67,28.47,6.0,2016.0,연립다세대,직거래,NaN
4,2023,마포구,상암동,대지,1597.0,0.0,사보이시티디엠씨,20231121,15500,21.65,29.78,14.0,2016.0,오피스텔,중개거래,서울 은평구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62734,2023,마포구,합정동,대지,381.0,50.0,(381-50),20210217,100000,61.19,46.45,1.0,1977.0,연립다세대,NaN,NaN
62735,2023,강서구,공항동,대지,61.0,89.0,남성아트빌,20210125,36800,29.47,19.00,6.0,2015.0,연립다세대,NaN,NaN
62736,2023,은평구,신사동,대지,370.0,0.0,은평신사두산위브,20200608,73500,84.96,0.00,9.0,2006.0,아파트,NaN,NaN
62737,2023,마포구,성산동,대지,593.0,5.0,상암미르웰한올림,20181030,15500,16.36,22.99,13.0,2018.0,오피스텔,NaN,NaN
62739,2023,노원구,중계동,대지,511.0,2.0,목화(4단지),20090219,8000,32.76,0.00,2.0,1991.0,아파트,NaN,NaN

In [30]:
df3 =df3['건물명'].value_counts().head()

In [35]:
df3.to_frame().rename(columns={'count' : '건 수'})

           건 수
건물명
헬리오시티      314
현대         265
베르디움STAY1  252
두산         246
파크리오       220