In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./dev.csv')

In [30]:
df = df.drop( [ '법정동코드','자치구코드' ,'지번구분' ,'권리구분','취소일'] , axis=1)

KeyError: "['법정동코드', '자치구코드', '지번구분', '권리구분', '취소일'] not found in axis"

In [31]:
df

,접수연도,자치구명,법정동명,지번구분명,본번,부번,건물명,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2023,강서구,마곡동,대지,776.0,2.0,마곡센트럴대방디엠시티오피스텔,20231121,21500,29.48,42.34,3.0,2017.0,오피스텔,직거래,NaN
1,2023,동대문구,이문동,대지,327.0,7.0,세진빌딩,20231121,19000,11.48,0.00,12.0,2020.0,아파트,중개거래,서울 동대문구
2,2023,구로구,구로동,대지,98.0,10.0,비즈트위트그린,20231121,11250,14.86,0.00,16.0,2012.0,아파트,중개거래,서울 동작구
3,2023,송파구,오금동,대지,39.0,5.0,에일린하우스,20231121,58000,54.67,28.47,6.0,2016.0,연립다세대,직거래,NaN
4,2023,마포구,상암동,대지,1597.0,0.0,사보이시티디엠씨,20231121,15500,21.65,29.78,14.0,2016.0,오피스텔,중개거래,서울 은평구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62735,2023,강서구,공항동,대지,61.0,89.0,남성아트빌,20210125,36800,29.47,19.00,6.0,2015.0,연립다세대,NaN,NaN
62736,2023,은평구,신사동,대지,370.0,0.0,은평신사두산위브,20200608,73500,84.96,0.00,9.0,2006.0,아파트,NaN,NaN
62737,2023,마포구,성산동,대지,593.0,5.0,상암미르웰한올림,20181030,15500,16.36,22.99,13.0,2018.0,오피스텔,NaN,NaN
62738,2023,양천구,신월동,NaN,NaN,NaN,NaN,20161125,17800,70.09,86.00,NaN,1981.0,단독다가구,NaN,NaN
62739,2023,노원구,중계동,대지,511.0,2.0,목화(4단지),20090219,8000,32.76,0.00,2.0,1991.0,아파트,NaN,NaN

In [25]:
df = df.drop( [ '법정동코드','자치구코드' ,'지번구분' ,'권리구분','취소일'] , axis=1)

In [32]:
df['계약일'].astype(str)

0        20231121
1        20231121
2        20231121
3        20231121
4        20231121
           ...
62735    20210125
62736    20200608
62737    20181030
62738    20161125
62739    20090219
Name: 계약일, Length: 62740, dtype: object

In [33]:
df['게약일'].astype(int)

KeyError: '게약일'

In [34]:
df['접수연도']

0        2023
1        2023
2        2023
3        2023
4        2023
         ...
62735    2023
62736    2023
62737    2023
62738    2023
62739    2023
Name: 접수연도, Length: 62740, dtype: int64

In [39]:
df['본번'].astype(str)

0         776.0
1         327.0
2          98.0
3          39.0
4        1597.0
          ...
62735      61.0
62736     370.0
62737     593.0
62738       nan
62739     511.0
Name: 본번, Length: 62740, dtype: object

In [49]:
df['본번'].fillna(-1)

0         776.0
1         327.0
2          98.0
3          39.0
4        1597.0
          ...
62735      61.0
62736     370.0
62737     593.0
62738      -1.0
62739     511.0
Name: 본번, Length: 62740, dtype: float64

In [50]:
df['건축년도']

0        2017.0
1        2020.0
2        2012.0
3        2016.0
4        2016.0
          ...
62735    2015.0
62736    2006.0
62737    2018.0
62738    1981.0
62739    1991.0
Name: 건축년도, Length: 62740, dtype: float64

In [51]:
df['건물용도'].unique()

array(['오피스텔', '아파트', '연립다세대', '단독다가구'], dtype=object)

In [53]:
pd.to_datetime(df['계약일'])

0       1970-01-01 00:00:00.020231121
1       1970-01-01 00:00:00.020231121
2       1970-01-01 00:00:00.020231121
3       1970-01-01 00:00:00.020231121
4       1970-01-01 00:00:00.020231121
                     ...
62735   1970-01-01 00:00:00.020210125
62736   1970-01-01 00:00:00.020200608
62737   1970-01-01 00:00:00.020181030
62738   1970-01-01 00:00:00.020161125
62739   1970-01-01 00:00:00.020090219
Name: 계약일, Length: 62740, dtype: datetime64[ns]

In [55]:
pd.to_datetime(df['계약일'].astype(str))

0       2023-11-21
1       2023-11-21
2       2023-11-21
3       2023-11-21
4       2023-11-21
           ...
62735   2021-01-25
62736   2020-06-08
62737   2018-10-30
62738   2016-11-25
62739   2009-02-19
Name: 계약일, Length: 62740, dtype: datetime64[ns]

In [57]:
pd.to_datetime(df['계약일'] , format='%Y%m%d')

0       2023-11-21
1       2023-11-21
2       2023-11-21
3       2023-11-21
4       2023-11-21
           ...
62735   2021-01-25
62736   2020-06-08
62737   2018-10-30
62738   2016-11-25
62739   2009-02-19
Name: 계약일, Length: 62740, dtype: datetime64[ns]